@import 'general/reset.scss';

@import 'general/definitions/fonts.scss';
@import 'general/definitions/variables.scss';
@import 'general/definitions/mixins.scss';

@import 'general/global_modifiers.scss';
@import 'general/header.scss';
@import 'general/footer.scss';

* {
    box-sizing: border-box;
}

body {
    @include font-family-sans;
    
    height: 100%;
}

footer,
header, 
main {
    display: block;
}

h1 {
    @include font-family-flourish;
    
    font-size: 64px;
}

h2 {
    @include font-family-sans;
    
    font-size: 24px;
}

h3 {
    @include font-family-flourish;
    
    color: $color-gray-nickel;
    font-size: 40px;
}

html {
    height: 100%;
}

p {
   font-size: 18px;
   line-height: 1.5em;
   margin-bottom: 1em;
}

.attribution {
    color: $color-gray-nickel;
    font-size: 12px;
    line-height: 1em;
    font-variant: small-caps;
}

.container {
    display: block;
    margin: 0 auto;
    position: relative;
    width: $size-container-width;
}

.content-with-sidebar-left {
    padding-left: 22em;
}

.diamond {
    background-image: image_url('diamond.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 4.8125em;
    width: 7.9375em;
}

.diamond-circled {
    background-image: image_url('diamond-circled.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 4em;
    width: 4em;
}

.fadeout-border {
    background: linear-gradient($color-white, $color-tundora 25%, $color-tundora 75%, $color-white 100%);
    background-color: $color-tundora;
    width: 1px;
}

.monogram-border {
    background-image: image_url('monogram_border.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 280px 75px;
    display: inline-block;
    height: 75px;
    text-align: center;
    width: 100%;
}

.monogram-border-content {
    border-bottom: 1px solid $color-tundora;
    margin: 0 auto 3em;
    padding: 1em 1em 0;
    text-align: center;
    width: 90%;
}

.sidebar-left {
    float: left;
    width: 18em;
}

#page-wrapper {
    min-height: 100%;
    position: relative;
}
