.clearfix {
    @include clearfix;
}

.display-inline-block {
    display: inline-block;
}

.float-left {
    float: left;
}

.line-height-75px {
    line-height: 75px;
}

.padding-footer-height {
    padding-bottom: $size-footer-height;
}

.padding-bottom-1em {
    padding-bottom: 1em;
}

.padding-left-1em {
    padding-left: 1em;
}

.margin-auto {
    margin: 0 auto;
}

.margin-left-1-point-75em {
    margin-left: 1.75em;
}

.margin-top-point-25em {
    margin-top: 0.25em;
}

.text-align-center {
    text-align: center;
}

.vertically-center {
    @include vertically-center;
}

.width-100per {
    width: 100%;
}
