.display-inline-block {
    display: inline-block;
}

.float-left {
    float: left;
}

.padding-footer-height {
    padding-bottom: $size-footer-height;
}

.margin-auto {
    margin: 0 auto;
}

.margin-left-1-point-75em {
    margin-left: 1.75em;
}

.margin-top-point-25em {
    margin-top: 0.25em;
}

.vertically-center {
    @include vertically-center;
}