%p
    Phillips Jewelers has been providing an excellent customer experience in downtown Coopersville for over 14 years. We pride ourselves on attention to detail along with the ability to provide a varied selection and unparalleled service in a personal hometown setting. 
%p
    We are in the heart of western Michigan, just 20 to 30 minutes from Grand Rapids, Grand Haven, or Muskegon. 