%div.map-container
  %div#map-canvas
%div.padding-right-40em
  %h1
    Contact Us
  %table.table-contact
    %tbody
      %tr
        %td
          %div.display-inline
            = image_tag('letter.svg')
        %td
          %p.display-inline
            Phillips Jewelers
            %br
            284 Main St.
            %br
            Coopersville, MI 49404
      %tr
        %td
          %div.display-inline
            = image_tag('email.svg')
        %td
          %p.display-inline
            phillipsjewelers@altelco.net
      %tr
        %td
          %div.display-inline
            = image_tag('phone.svg')
        %td
          %p.display-inline
            (616) 997-7173
          