%div.clearfix
  %aside.sidebar-left
    %div.monogram-border
    %div.monogram-border-content
      %p
        Open Monday through Friday
      %p
        9:00 am to 5:00 pm
    %table.width-100per
      %tr
        %td.fadeout-border{ rowspan: "3" }
        %td.text-align-center.padding-bottom-1em.padding-left-1em
          %h2
            We Buy Gold and Silver
      %tr
        %td
          = image_tag('scrap_gold.png')
      %tr
        %td.padding-left-1em
          %p.attribution
            Image courtesy of Kittikun Atsawintarangkul at freedigitalphotos.net.
  %div.content-with-sidebar-left
    %h1
      Welcome to Phillips Jewelers!
    %h2
      Making personal attention and trust part of the memory.
