// COLORS

$color-gray-nickel: #c3c3bd;
$color-pearl-lusta: #fcf4dc;
$color-tundora: #4a4244;
$color-white: #ffffff;

// COLOR USES

$color-header: $color-tundora;

// SIZES

$size-container-width: 62.5em;
$size-footer-height: 8em;
