%footer
    %table.footer-content
        %tbody
            %tr
                %td.footer-panel.footer-panel-left
                    %div
                        &copy
                        = "#{Time.now.year}"
                        Phillips Jewelers
                    %div
                        All rights reserved
                %td.footer-panel.footer-panel-middle
                    %div.diamond-circled.margin-auto
                %td.footer-panel.footer-panel-right
                    %div
                        284 Main St. Coopersville MI
                    %div
                        (616) 997-7173
