%header
    %div.header-content.container
        %div.diamond.vertically-center.float-left
        %div.vertically-center.float-left
            %h1
                Phillips Jewelers
            %h2.margin-left-1-point-75em
                Simply Engaging
        %nav.header-nav
            = link_to 'Home', root_path, :class => 'header-link'
            = link_to 'About Us', about_path, :class => 'header-link'
            = link_to 'Contact', contact_path, :class => 'header-link'
            